@import "tailwindcss";

:root {
  --background: oklch(25.7% 0.09 281.288);
  --foreground: oklch(96.2% 0.018 272.314);
}

@theme inline {
  --color-primary: var(--background);
  --color-secondary: oklch(70.4% 0.191 22.216);
  --color-tertiary: var(--foreground);
  --color-quaternary: oklch(20.8% 0.042 265.755);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
